<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 하단 설정파일에 
			<setting name="mapUnderscoreToCamelCase" value="true"/>
			이부분은 vo와 select column의 명칭을 카멜표기로 매칭하여 처리
			예를 들어 column 명칭이 board_sn 이면 vo의 맴버필드는 boardSn
			"_"는 카멜표기에서 대문자로 매칭함.
		 -->
		<property name="configLocation" value="classpath:/egovframework/sqlmap/sql-mapper-config.xml" />
		
		<!-- mybatis 쿼리 파일 경로 설정
			현재 진행중인 프로젝트에 알맞게 경로를 수정함.
		 -->
		<property name="mapperLocations" value="classpath:/egovframework/sqlmap/mapper/mybatis-*.xml" />
	</bean>

	<!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->
 	<bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
		<property name="basePackage" value="com.aiinterview" />
	</bean>
    
</beans>