@import "../index.scss";

.MobileWarning {
  .content-box {
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    width: 300px;
    padding-bottom: 20px;
    border-radius: 8px;
    .logo {
      width: 66px;
      height: 66px;
      border-radius: 33px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      margin: 0 auto;
      margin-top: -40px;
      img {
        margin: 16px;
      }
    }
    .message {
      font-size: 14px;
      line-height: 1.43;
      margin-top: 40px;
    }
    .sub-message {
      margin-top: 15px;
      font-size: 12px;
      color: #23aaaf;
    }
    .view-img {
      margin-top: 35px;
      width: 208px;
      height: 105px;
      object-fit: contain;
      border-radius: 18px;
      box-shadow: 0 8px 12px 0 $card-shadow-color;
    }
    .logout-btn {
      padding: 5px 0px;
      width: 100px;
      margin: 0 auto;
      margin-top: 20px;
      font-size: 14px;
      opacity: 0.6;
      border-radius: 2px;
      background-color: rgba($dark-gray-color, 0.1);
      &:hover,
      &:focus {
        opacity: 0.8;
        background-color: rgba($dark-gray-color, 0.3);
      }
    }
  }
}
