@import "../index.scss";

.MyAnswer.Mobile {
  width: calc(324px - 64px);
  margin: 20px auto;
  padding: 0px 32px;
  border-radius: 8px;
  box-shadow: 0 8px 36px 0 $card-shadow-color;
  background-color: #ffffff;
  .stt {
    min-width: 260px;
    width: 260px;
    height: 195px;
    font-size: 14px;
    text-align: left;
    margin-top: 40px;
    .point {
      padding: 0px 2px;
      background-color: rgba($pink-color, 0.6);
    }
  }
  img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 30px;
  }
  .title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  .words-flex {
    margin-top: 30px;
    display: flex;
    width: 324px;
    position: relative;
    justify-content: center;
    left: -32px;
    .word {
      height: 16px;
      padding: 0px 10px;
      font-size: 18px;
      font-weight: bold;
      border-left: solid 1px $placeholder-color;
      .txt {
        position: relative;
        top: -8px;
        color: rgba($dark-gray-color, 0.4);
        span {
          font-weight: normal;
          margin-left: 8px;
        }
      }
      &.select {
        .txt {
          color: $dark-navy-blue;
          span {
            color: $pink-color;
          }
        }
      }
      &:first-child {
        border: none;
      }
    }
  }
  .toggle-flex {
    display: flex;
    font-size: 14px;
    width: 324px;
    position: relative;
    left: -32px;
    margin-top: 20px;
    border-top: solid 1px $parting-color;
    .toggle {
      cursor: pointer;
      text-align: center;
      width: 50%;
      padding: 20px 0px;
      line-height: 20px;
      opacity: 0.4;
      font-size: 14px;
      box-shadow: 0 0 6px 0 rgba(11, 55, 75, 0.24);
      &.select {
        font-weight: bold;
        text-decoration: none;
        box-shadow: none;
        opacity: 1;
      }
    }
  }
}
