@import "../../index.scss";

.MyOrder {
  width: 648px;
  margin: 0 auto;
  padding: 50px;
  border: solid 1px #e1e6ea;
  background-color: #ffffff;
  margin-top: 70px;
  padding-bottom: 130px;
  position: relative;
  .title {
    font-size: 22px;
    font-weight: bold;
  }
  .ticket-area {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .info-area {
    margin-top: 40px;
    display: grid;
    font-size: 14px;
    grid-template-columns: 100px auto;
    row-gap: 15px;
    .label {
      font-weight: bold;
    }
    .time {
      margin-top: 25px;
    }
  }
  .sub-message {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
  }
  .edit-btn {
    position: absolute;
    display: block;
    opacity: 0.6;
    text-decoration: underline;
    font-size: 14px;
    right: 50px;
    bottom: 50px;
    &:hover {
      opacity: 1;
    }
  }
}
