<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.interview.dao.QuestionGubunMapper">

	<!-- 등록 -->
	<insert id="create" >
		<selectKey keyProperty="questGbSq" resultType="String" order="BEFORE">
			SELECT question_gb_sq.nextval FROM dual 
		</selectKey>
			INSERT INTO question_gb (quest_gb_sq, quest_gb_content, quest_gb_st)
			VALUES (TO_NUMBER(#{questGbSq}), #{questGbContent}, #{questGbSt}) 
	</insert>

	<!-- 수정 -->
	<update id="update">
		UPDATE question_gb 
		   SET quest_gb_content = #{questGbContent},
			   quest_gb_st = #{questGbSt}   
		 WHERE quest_gb_sq = #{questGbSq} 
	</update>
	
	<!-- 수정 -->
	<update id="createUpdate">
		UPDATE question_gb 
		   SET quest_gb_st = #{questGbSt}   
		 WHERE quest_gb_content = #{questGbContent}
	</update>
	
	
	<!-- 조회 -->
	<select id="retrieve" parameterType="String"  resultType="com.aiinterview.interview.vo.QuestionGubunVO">
		SELECT *
		  FROM question_gb
		 WHERE quest_gb_sq = #{questGbSq}
	</select>
	
	
	<!-- 페이징 : 해당 페이지리스트 select -->
	<select id="retrievePagingList" resultType="com.aiinterview.interview.vo.QuestionGubunVO">
		SELECT A.*
		  FROM (
		  	SELECT ROWNUM RNUM, 
		  		   S.*
		      FROM (
		      	SELECT quest_gb_sq, 
		      		   quest_gb_content, 
		      		   quest_gb_st
		          FROM question_gb
		         WHERE 1=1
		          <if test="searchKeyword != null and searchKeyword != ''">
				   AND quest_gb_content LIKE '%' || #{searchKeyword} || '%'
				  </if>
		         ORDER BY quest_gb_sq 
		   	) S
		    WHERE ROWNUM <![CDATA[ <= ]]> ${lastIndex}
	   ) A 
	<![CDATA[WHERE A.RNUM > #{firstIndex}]]>
	</select>
	
	<select id="retrievePagingListCnt" resultType="int">
		SELECT count(*) totCnt
		  FROM question_gb
		 WHERE 1=1
		  <if test="searchKeyword != null and searchKeyword !=''">
		   AND quest_gb_content LIKE '%'||#{searchKeyword}||'%'	
		  </if>
	</select>
	
	<!-- 전체 목록 조회 -->
	<select id="retrieveList" resultType="com.aiinterview.interview.vo.QuestionGubunVO">
		SELECT *
		  FROM question_gb
	</select>
	
	<!-- //페이징 -->
</mapper>