<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.script.dao.SpeechMapper">

	<insert id="create" parameterType="com.aiinterview.script.vo.SpeechVO" >
		insert into speech_test 
		(SPEECHTEST_SQ, MEM_ID, SPEECH_TEST_SCORE, SPEECH_SCRIPT, SPEECH_TEST_DATE)
		values(SPEECH_TEST_SQ.nextval, #{memId}, #{speechTestScore}, #{speechScript}, SYSDATE )
	</insert>

	<select id="retrieve" parameterType="com.aiinterview.script.vo.SpeechVO" resultType="com.aiinterview.script.vo.SpeechVO" >
		select * from speech_test 
		where mem_id= #{memId }
	</select>

</mapper>
