<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.script.dao.ScriptMapper">

	<select id="retrieve" parameterType="String" resultType="com.aiinterview.script.vo.ScriptVO">
		SELECT *
		FROM	script
		WHERE	script_sq = #{scriptSq}
	</select>

	<select id="retrieveList" parameterType="String" resultType="com.aiinterview.script.vo.ScriptVO">
		SELECT *
		FROM script
	</select>
	
	<select id="retrieveSelectList" parameterType="String" resultType="com.aiinterview.script.vo.ScriptVO">
		SELECT *
		FROM script
		WHERE script_gb_sq = #{scriptGbSq}
	</select>
	
<!-- 	<select id="retrievePagingListCnt" parameterType="com.aiinterview.script.vo.ScriptVO" resultType="int">
		SELECT 	count(*)
		FROM	script
	</select>
	
	<select id="retrievePageList" parameterType="com.aiinterview.common.model.PageVO" resultType="com.aiinterview.script.vo.ScriptVO">
	SELECT *
		FROM (SELECT ROWNUM rn, a.*
			  FROM (SELECT *
					FROM script
					ORDER BY script_sq) a)
		WHERE rn BETWEEN (#{page}-1) * #{pageSize} + 1 AND #{page} * #{pageSize}
	</select> -->
	
	<insert id="create">
		<selectKey keyProperty="scriptSq" resultType="String" order="BEFORE" keyColumn="scriptSq">
			SELECT script_sq.nextval FROM DUAL
		</selectKey>
			INSERT INTO script
			VALUES (TO_NUMBER(#{scriptSq}), #{scriptContent}, #{scriptSt}, #{scriptGbSq}) 
	</insert>
	
	<update id="update">
		UPDATE script
		   SET script_content = #{scriptContent},
		 	   script_st = #{scriptSt},
		 	   script_gb_sq = #{scriptGbSq}
		 WHERE script_sq = #{scriptSq}
	</update>
	
	
</mapper>