<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.analysis.dao.KeywordAnalysisMapper">

	<insert id="create">
		INSERT INTO KEYWORD_ANALYSIS (ANS_SQ,
										TALENT_SQ,
										KEYWORD_SQ,
										KEYWORD_COUNT)
		     VALUES (TO_NUMBER(#{ansSq}),
						TO_NUMBER(#{talentSq}),
						TO_NUMBER(#{keywordSq}),
						#{keywordCount})
	</insert>
	
	<select id="retrieveList" resultType="com.aiinterview.analysis.vo.KeywordAnalysisVO">
		SELECT *
		FROM KEYWORD_ANALYSIS
		WHERE ANS_SQ = #{ansSq}
	</select>
	
	<select id="talentAnalysisList" parameterType="String" resultType="com.aiinterview.analysis.vo.TalentAnalysisVO">
		SELECT c.talent_nm, b.keyword_content, a.keyword_count 
		  FROM keyword_analysis a, keyword b, talent c
		 WHERE a.keyword_sq = b.keyword_sq
           and a.talent_sq = c.talent_sq
		   AND a.ans_sq = #{ansSq}
		   AND a.keyword_count > 0
	</select>


</mapper>