<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.analysis.dao.VoiceAnalysisMapper">

	<insert id="create">
		INSERT INTO VOICE_ANALYSIS (VOICE_ANALYSIS_SQ,
									VOICE_DECIBEL,
									VOICE_RANGE,
									ANS_SQ)
		     VALUES (VOICE_ANALYSIS_SQ.NEXTVAL,
						NVL(#{voiceDecibel},0),
						NVL(#{voiceRange},0),
						#{ansSq})
	</insert>
	
	<select id="retrieveList" resultType="com.aiinterview.analysis.vo.VoiceAnalysisVO">
		SELECT *
		FROM VOICE_ANALYSIS
		WHERE ANS_SQ = #{ansSq}
	</select>
	
	<select id="retrieveGrowth" resultType="com.aiinterview.analysis.vo.VoiceAnalysisVO">
		SELECT  INTERVIEW_SQ,
				VOICE_DECIBEL,
				VOICE_RANGE
		FROM INTERVIEW A, QUESTION B, ANSWER C, (SELECT ROUND(SUM(VOICE_DECIBEL)/COUNT(*)),
														ROUND(SUM(VOICE_RANGE)/COUNT(*)),
														ANS_SQ
													FROM VOICE_ANALYSIS
												GROUP BY ANS_SQ) D
		WHERE A.INTERVIEW_SQ = B.INTERVIEW_SQ
		AND B.QUEST_SQ = C.QUEST_SQ
		AND C.ANSWER_SQ = D.ANSWER_sQ
		AND ROWNUM <![CDATA[  <  ]]>6
		GROUP BY A.INTERVIEW_SQ
		ORDER BY A.INTERVIEW_SQ DESC
		
	</select>
	

</mapper>