<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.board.dao.CategoryGubunMapper">

	<insert id="create">
		INSERT INTO CATEGORY_GB (CAT_GB_SQ,
								CAT_GB_CONTENT,
								CAT_GB_ST,
								BOARD_GB_SQ)
		VALUES (CATEGORY_GB_SQ.NEXTVAL,
				#{catGbContent},
				#{catGbSt},
				TO_NUMBER(#{boardGbSq}))
		<selectKey keyProperty="catGbSq" resultType="String" order="AFTER">
			SELECT TO_CHAR(CATEGORY_GB_SQ.CURRVAL) FROM DUAL
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE CATEGORY_GB
		SET    CAT_GB_CONTENT  = #{catGbContent},
			   CAT_GB_ST  = #{catGbSt},
			   BOARD_GB_SQ  = #{boardGbSq}
		WHERE  CAT_GB_SQ  = #{catGbSq}
	</update>
	
	<delete id="delete">
		DELETE FROM CATEGORY_GB		
		WHERE  CAT_GB_SQ  = #{catGbSq}
	</delete>
	
	<select id="retrieve" resultType="com.aiinterview.board.vo.CategoryGubunVO">
		SELECT *
		FROM CATEGORY_GB
		WHERE CAT_GB_SQ = TO_NUMBER(#{catGbSq})
	</select>
	
	<select id="retrievePagingList" resultType="com.aiinterview.board.vo.CategoryGubunVO">
	    SELECT A.*
	      FROM (
	      	SELECT ROWNUM RNUM,
	           	   S.*
		      FROM (
		      	SELECT *
					FROM CATEGORY_GB
					<if test="searchKeyword != null and searchKeyword != ''">
				        <choose>
				            <when test="searchCondition == 0">
								AND	CAT_GB_CONTENT '%' || #{searchKeyword} || '%'
							</when>
						</choose>
					</if>
					ORDER BY CAT_GB_SQ DESC
		      ) S
		      WHERE ROWNUM <![CDATA[ <= ]]> ${lastIndex} 
	      ) A
	     <![CDATA[WHERE A.RNUM > #{firstIndex}]]>
	</select>
	
	<select id="retrievePagingListCnt" resultType="int">	    
      	SELECT count(*) totCnt
		FROM   CATEGORY_GB
		<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 0">
						AND	CAT_GB_CONTENT LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>		
	</select>
	
	<select id="retrieveList" resultType="com.aiinterview.board.vo.CategoryGubunVO">
		SELECT *
		FROM   CATEGORY_GB
	</select>


</mapper>