<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.aiinterview.plan.dao.PlanMapper">

	<select id="planList" resultType="com.aiinterview.plan.vo.PlanVO" >
		SELECT *
		FROM plan
		where plan_st = 'Y'
	</select>
	
	<select id="planContent" resultType="com.aiinterview.plan.vo.PlanVO" parameterType="com.aiinterview.plan.vo.PlanVO" >
		SELECT *
		FROM plan
		where plan_sq = #{planSq}
	</select>
	
	<insert id="planUseCreate" parameterType="com.aiinterview.plan.vo.PlanUseVO" >
		Insert into PLAN_USE 
		(USE_SQ, START_DATE, END_DATE, MEM_ID, PLAN_SQ)
		values(plan_use_sq.nextval, sysdate, sysdate+#{planPeriod}, #{memId}, 2)
	</insert>

	<select id="planUseCheck" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="com.aiinterview.plan.vo.PlanUseVO" >
		SELECT *
		FROM PLAN_USE
		<![CDATA[
		where MEM_ID = #{memId}
		and end_date-sysdate>0
		]]>
		
	</select>

	<select id="planUseCount" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="int" >
			SELECT count(*)
			FROM PLAN_USE
			<![CDATA[
			where MEM_ID = #{memId}
			and end_date-sysdate>0
			]]>
			
	</select>

	<select id="planUseMinute" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="int" >
		SELECT (ROUND((#{endDate}-sysdate)*24*60)) 
		FROM plan_use
	</select>


	
	<insert id="create" parameterType="com.aiinterview.plan.vo.PlanVO">
		Insert into PLAN (PLAN_SQ,PLAN_NM,PLAN_PRICE,PLAN_EXPLAIN,PLAN_ST,PLAN_PERIOD)
		values (plan_sq.nextval, #{planNm }, #{planPrice}, #{planExplain }, 'Y' ,#{planPeriod })	
	</insert>

	<update id="update" parameterType="com.aiinterview.plan.vo.PlanVO">
		UPDATE plan set plan_st = 'N'
		where plan_sq = #{planSq}
	</update>

	<select id = "CashList" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="com.aiinterview.plan.vo.PlanUseVO">
	SELECT * 
	FROM plan A inner join plan_use B on A.plan_sq = B.plan_sq
	WHERE mem_id = #{memId}
	</select>
	
	<select id= "managePlan" resultType="com.aiinterview.plan.vo.PlanVO">
		select * from plan
	</select>
	
	<select id= "managePlanUse" resultType="com.aiinterview.plan.vo.PlanUseVO">
		select B.USE_SQ     ,
	   B.START_DATE ,
	   B.END_DATE   ,
	   B.MEM_ID     ,
	   B.PLAN_SQ,
       A.PLAN_NM,
       A.PLAN_PERIOD,
       TO_CHAR(B.START_DATE) startDay,
       TO_CHAR(B.END_DATE) endDay
	 FROM plan A inner join plan_use B on A.plan_sq = B.plan_sq
	</select>
	
	<select id="managePlanUseList" resultType="com.aiinterview.plan.vo.PlanUseVO" parameterType="com.aiinterview.base.vo.BaseVO">
		 SELECT * FROM
		    (SELECT ROWNUM rn, a.* FROM
		        (SELECT * FROM  plan A inner join plan_use B on A.plan_sq = B.plan_sq
		         ORDER BY use_sq) a)
		WHERE rn BETWEEN (#{pageIndex} - 1) * #{pageUnit} + 1  AND #{pageIndex} * #{pageUnit}
	</select>
	
	<select id="PlanUseCount" resultType="int">
		SELECT COUNT(*)
		FROM plan_use	
	</select>
	
<!-- 	<update id="update" parameterType="com.aiinterview.plan.vo.PlanVO"> -->
<!-- 		UPDATE plan set plan_nm = #{planNm}, plan_price = #{planPrice},  -->
<!-- 		plan_explain = #{planExplain }, plan_st = #{planSt}, plan_period=#{planPeriod} -->
<!-- 		where plan_sq = #{planSq} -->
<!-- 	</update> -->

		<select id="retrievePagingList" resultType="com.aiinterview.plan.vo.PlanUseVO">
	    SELECT A.*
	      FROM (
	      	SELECT ROWNUM RNUM,
	           	   S.*
		      FROM (
		      	SELECT	* 
					FROM plan A inner join plan_use B on A.plan_sq = B.plan_sq
					<if test="searchKeyword != null and searchKeyword != ''">
				        <choose>
				            <when test="searchCondition == 0">
								AND	PLAN_NM LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 1">
								AND	MEM_ID LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 2">
								AND	START_DATE LIKE '%' || #{searchKeyword} || '%'
							</when>
						</choose>
					</if>
		      ) S
		      WHERE ROWNUM <![CDATA[ <= ]]> ${lastIndex} 
	      ) A
	     <![CDATA[WHERE A.RNUM > #{firstIndex}]]>
	</select>
	
	<select id="retrievePagingListCnt" resultType="int">	    
      	SELECT count(*) totCnt
			FROM plan A inner join plan_use B on A.plan_sq = B.plan_sq
		<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 0">
						AND	PLAN_NM LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 1">
						AND	MEM_ID LIKE '%' || #{searchKeyword} || '%'
					</when>
					<when test="searchCondition == 2">
						AND	START_DATE LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>		
	</select>

	<select id="retrieveTotalUse" parameterType="hashmap" resultType="com.aiinterview.plan.vo.PlanStatisticsVO">
		SELECT ROWNUM rn,
  		   	   c.*
		  FROM (
		        SELECT
		            a.plan_nm,
		            COUNT(*) AS useCount
		        FROM
		            plan a,
		            plan_use b
		        WHERE
		            a.plan_sq = b.plan_sq
					<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
						<choose>
				            <when test="endDate == 'sysdate'">
		             AND b.start_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND ${'sysdate'}
		             		</when>
		             		<when test="endDate != 'sysdate'">
		             AND b.start_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')
		             		</when>
		             	</choose>
		            </if>
		            <if test="searchKeyword != null and searchKeyword != ''">
					 AND a.plan_nm LIKE '%' || #{searchKeyword} || '%'
					</if>
		        GROUP BY
		            a.plan_nm
		    ) c
	</select>
	
	<select id="retrieveTotalSale" parameterType="hashmap" resultType="com.aiinterview.plan.vo.PlanStatisticsVO">
		SELECT ROWNUM rn,
			   c.*
		  FROM
		     (
		        SELECT
		            a.plan_nm as planNm,
		            a.plan_price as planPrice,
		            b.useCount,
		            a.plan_price * b.useCount AS sale
		        FROM
		            plan a,
		            (SELECT plan_sq, count(*) as useCount
		               FROM plan_use
		               <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
						<choose>
				            <when test="endDate == 'sysdate'">
		          	  WHERE start_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND ${'sysdate'}
		             		</when>
		             		<when test="endDate != 'sysdate'">
		              WHERE start_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')
		             		</when>
		             		</choose>
		            </if>
		              GROUP BY plan_sq)b
		        WHERE
		            a.plan_sq = b.plan_sq 
	             <if test="searchKeyword != null and searchKeyword != ''">
				  AND a.plan_nm LIKE '%' || #{searchKeyword} || '%'
				 </if>
		    ) c
	</select>
	
	<select id="retrieveDailySale" resultType="com.aiinterview.plan.vo.PlanStatisticsVO" >
		SELECT c.start_date AS startDate
        	 , SUM(c.sale) AS sale
		  FROM
				(SELECT a.start_date, (b.plan_price * COUNT(*)) AS sale
				   FROM plan_use a, plan b
				  WHERE a.plan_sq = b.plan_sq
		
				  GROUP BY b.plan_price, a.start_date) c
		 GROUP BY c.start_date
		 ORDER BY c.start_date
	</select>
	
	
	<select id="retrieveEndDate" resultType="int" parameterType="String"> 
		SELECT COUNT(*) remainCount
		FROM PLAN_USE
		WHERE MEM_ID = #{memId }
		AND END_DATE <![CDATA[ >= ]]> SYSDATE
	</select>
	
	



</mapper>