<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.aiinterview.plan.dao.PlanMapper">

	<select id="planList" resultType="com.aiinterview.plan.vo.PlanVO" >
		SELECT *
		FROM plan
		where plan_st = 'Y'
	</select>
	
	<select id="planContent" resultType="com.aiinterview.plan.vo.PlanVO" parameterType="com.aiinterview.plan.vo.PlanVO" >
		SELECT *
		FROM plan
		where plan_sq = #{planSq}
	</select>
	
	<insert id="planUseCreate" parameterType="com.aiinterview.plan.vo.PlanUseVO" >
		Insert into PLAN_USE 
		(USE_SQ, START_DATE, END_DATE, MEM_ID, PLAN_SQ)
		values(plan_use_sq.nextval, sysdate, sysdate+#{planPeriod}, #{memId}, 2)
	</insert>

	<select id="planUseCheck" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="com.aiinterview.plan.vo.PlanUseVO" >
		SELECT *
		FROM PLAN_USE
		<![CDATA[
		where MEM_ID = #{memId}
		and end_date-sysdate>0
		]]>
		
	</select>

	<select id="planUseCount" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="int" >
			SELECT count(*)
			FROM PLAN_USE
			<![CDATA[
			where MEM_ID = #{memId}
			and end_date-sysdate>0
			]]>
			
	</select>

	<select id="planUseMinute" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="int" >
		SELECT (ROUND((#{endDate}-sysdate)*24*60)) 
		FROM plan_use
	</select>


	
	<insert id="create" parameterType="com.aiinterview.plan.vo.PlanVO">
		Insert into PLAN (PLAN_SQ,PLAN_NM,PLAN_PRICE,PLAN_EXPLAIN,PLAN_ST,PLAN_PERIOD)
		values (plan_sq.nextval, #{planNm }, #{planPrice}, #{planExplain }, 'Y' ,#{planPeriod })	
	</insert>

	<update id="update" parameterType="com.aiinterview.plan.vo.PlanVO">
		UPDATE plan set plan_st = 'N'
		where plan_sq = #{planSq}
	</update>

	<select id = "CashList" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="com.aiinterview.plan.vo.PlanUseVO">
	SELECT * 
	FROM plan A inner join plan_use B on A.plan_sq = B.plan_sq
	WHERE mem_id = #{memId}
	</select>
	
	<select id= "managePlan" resultType="com.aiinterview.plan.vo.PlanVO">
		select * from plan
	</select>
	
	<select id= "managePlanUse" resultType="com.aiinterview.plan.vo.PlanUseVO">
		select * FROM plan A inner join plan_use B on A.plan_sq = B.plan_sq
	</select>
	
	<select id="managePlanUseList" resultType="com.aiinterview.plan.vo.PlanUseVO" parameterType="com.aiinterview.base.vo.BaseVO">
		 SELECT * FROM
		    (SELECT ROWNUM rn, a.* FROM
		        (SELECT * FROM  plan A inner join plan_use B on A.plan_sq = B.plan_sq
		         ORDER BY use_sq) a)
		WHERE rn BETWEEN (#{pageIndex} - 1) * #{pageUnit} + 1  AND #{pageIndex} * #{pageUnit}
	</select>
	
	<select id="PlanUseCount" resultType="int">
		SELECT COUNT(*)
		FROM plan_use	
	</select>
	
	
<!-- 	<update id="update" parameterType="com.aiinterview.plan.vo.PlanVO"> -->
<!-- 		UPDATE plan set plan_nm = #{planNm}, plan_price = #{planPrice},  -->
<!-- 		plan_explain = #{planExplain }, plan_st = #{planSt}, plan_period=#{planPeriod} -->
<!-- 		where plan_sq = #{planSq} -->
<!-- 	</update> -->







</mapper>