<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.interview.dao.HabitMapper">

	<select id="retrieveList" resultType="com.aiinterview.interview.vo.HabitVO">
		SELECT *
		FROM habit
	</select>
	
	<select id="retrieveUsingList" resultType="com.aiinterview.interview.vo.HabitVO">
		SELECT *
		FROM habit
		WHERE habit_st = 'Y'
	</select>
	
	<select id="retrieve" parameterType="String"  resultType="String">
		SELECT habit_gb
		FROM habit
		WHERE habit_sq = #{habitSq}
	</select>
	
	<insert id="create" >
		<selectKey keyProperty="habitSq" resultType="String" order="BEFORE">
			SELECT habit_sq.nextval FROM dual 
		</selectKey>
			INSERT INTO habit (habit_sq, habit_gb, habit_st)
			VALUES (TO_NUMBER(#{habitSq}), #{habitGb}, #{habitSt}) 
	</insert>

	<update id="update">
		UPDATE habit 
		   SET habit_gb = #{habitGb},
		 	   habit_st = #{habitSt}
		 WHERE habit_sq = #{habitSq} 
	</update>

	<!-- 페이징 : 해당 페이지리스트 select -->
	<select id="retrievePagingList" resultType="com.aiinterview.interview.vo.HabitVO">
		SELECT A.*
		  FROM (
		  	SELECT ROWNUM RNUM, 
		  		   S.*
		      FROM (
		      	SELECT habit_sq, 
		      		   habit_gb, 
		      		   habit_st
		          FROM habit
		         WHERE 1=1
		          <if test="searchKeyword != null and searchKeyword != ''">
				   AND habit_gb LIKE '%' || #{searchKeyword} || '%'
				  </if>
		         ORDER BY habit_sq 
		   	) S
		    WHERE ROWNUM <![CDATA[ <= ]]> ${lastIndex}
	   ) A 
	<![CDATA[WHERE A.RNUM > #{firstIndex}]]>
	</select>
	
	<select id="retrievePagingListCnt" resultType="int">
		SELECT count(*) totCnt
		  FROM habit
		 WHERE 1=1
		  <if test="searchKeyword != null and searchKeyword !=''">
		   AND habit_gb LIKE '%'||#{searchKeyword}||'%'	
		  </if>
	</select>
	<!-- //페이징 -->
	
</mapper>