<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.aiinterview.interview.dao.SampleQuestionMapper">

	<!-- 전체 목록 조회 -->
	<select id="retrieveList" resultType="com.aiinterview.interview.vo.SampleQuestionVO">
		SELECT *
		  FROM sample_question
	</select>
	
	<!-- 등록 -->
	<insert id="create" >
		<selectKey keyProperty="sampQuestSq" resultType="String" order="BEFORE">
			SELECT sample_question_sq.nextval FROM dual 
		</selectKey>
			INSERT INTO sample_question (samp_quest_sq, samp_quest_content, samp_quest_st, quest_gb_sq)
			VALUES (TO_NUMBER(#{sampQuestSq}), #{sampQuestContent}, #{sampQuestSt}, #{questGbSq}) 
	</insert>

	<!-- 수정 -->
	<update id="update">
		UPDATE sample_question 
		   SET samp_quest_content = #{sampQuestContent},
			   samp_quest_st = #{sampQuestSt},
			   quest_gb_sq = #{questGbSq}  
		 WHERE samp_quest_sq = #{sampQuestSq} 
	</update>
	
	
	<!-- 페이징 : 해당 페이지리스트 select -->
	<select id="retrievePagingList" resultType="com.aiinterview.interview.vo.SampleQuestionVO">
		SELECT A.*
		  FROM (
		  	SELECT ROWNUM RNUM, 
		  		   S.*
		      FROM (
		      	SELECT samp_quest_sq, 
		      		   samp_quest_content, 
		      		   samp_quest_st,
		      		   quest_gb_sq
		          FROM sample_question
		         WHERE 1=1
		          <if test="searchKeyword != null and searchKeyword != ''">
				   AND samp_quest_content LIKE '%' || #{searchKeyword} || '%'
				  </if>
		         ORDER BY samp_quest_sq 
		   	) S
		    WHERE ROWNUM <![CDATA[ <= ]]> ${lastIndex}
	   ) A 
	<![CDATA[WHERE A.RNUM > #{firstIndex}]]>
	</select>
	
	<select id="retrievePagingListCnt" resultType="int">
		SELECT count(*) totCnt
		  FROM sample_question
		 WHERE 1=1
		  <if test="searchKeyword != null and searchKeyword !=''">
		   AND samp_quest_content LIKE '%'||#{searchKeyword}||'%'	
		  </if>
	</select>
	<!-- //페이징 -->
	
	<select id="retrieve" parameterType="String" resultType="com.aiinterview.interview.vo.SampleQuestionVO">
		SELECT *
          FROM sample_question
         WHERE 1=1
		   AND samp_quest_content LIKE '%' || #{searchKeyword} || '%'
		   AND samp_quest_st = 'Y' 
	</select>
	<!-- 해당 객체 가져오기 (업데이트용) -->
	<select id="retrieveOne" parameterType="String" resultType="com.aiinterview.interview.vo.SampleQuestionVO">
		SELECT *
          FROM sample_question
		 WHERE samp_quest_sq = #{sampQuestSq} 
	</select>
	
	<!-- 직무별 사용 통계 -->
	<select id="retrieveQuestGbUseCount" parameterType="hashmap" resultType="com.aiinterview.interview.vo.SampleQuestionVO">
		SELECT ROWNUM rn, e.*
  		  FROM (SELECT c.quest_gb_content, COUNT(*) AS useCount
				  FROM question a, sample_question b, question_gb c, interview d
				 WHERE a.samp_quest_sq = b.samp_quest_sq
				   AND b.quest_gb_sq = c.quest_gb_sq
				   AND d.interview_sq = a.interview_sq
				   <if test="searchKeyword != null and searchKeyword != ''">
				        <choose>
				            <when test="searchCondition == 0">
				   AND c.quest_gb_content LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 1">
				   AND b.samp_quest_content LIKE '%' || #{searchKeyword} || '%'
							</when>
						</choose>
					</if>
				    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
						<choose>
          					<when test="endDate == 'sysdate'">
         		   AND d.interview_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND ${'sysdate'}
           					</when>
           					<when test="endDate != 'sysdate'">
           		   AND d.interview_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')
           					</when>
           				</choose>
          			</if>
				GROUP BY c.quest_gb_content ) e
	</select>
	
	<select id="retrieveQuestGbAndSampUseCount" parameterType="hashmap" resultType="com.aiinterview.interview.vo.SampleQuestionVO">
		SELECT ROWNUM rn, e.*
		  FROM (SELECT c.quest_gb_content, b.samp_quest_content, COUNT(*) AS useCount
				  FROM question a, sample_question b, question_gb c, interview d
				 WHERE a.samp_quest_sq = b.samp_quest_sq
				   AND ROWNUM <![CDATA[ < ]]> 6
			       AND b.quest_gb_sq = c.quest_gb_sq
			       AND d.INTERVIEW_SQ = a.interview_sq
			       <if test="searchKeyword != null and searchKeyword != ''">
				        <choose>
				            <when test="searchCondition == 0">
				   AND c.quest_gb_content LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 1">
				   AND b.samp_quest_content LIKE '%' || #{searchKeyword} || '%'
							</when>
						</choose>
				   </if>
			       <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
						<choose>
          					<when test="endDate == 'sysdate'">
         		   AND d.interview_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND ${'sysdate'}
           					</when>
           					<when test="endDate != 'sysdate'">
           		   AND d.interview_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')
           					</when>
           				</choose>
          			</if>
				 GROUP BY b.samp_quest_content, c.quest_gb_content
				 ORDER BY useCount DESC ) e
	</select>
</mapper>