<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.analysis.dao.VoiceAnalysisMapper">

	<insert id="create">
		INSERT INTO VOICE_ANALYSIS (VOICE_ANALYSIS_SQ,
									VOICE_DECIBEL,
									VOICE_RANGE,
									ANS_SQ)
		     VALUES (VOICE_ANALYSIS_SQ.NEXTVAL,
						NVL(#{voiceDecibel},0),
						NVL(#{voiceRange},0),
						#{ansSq})
	</insert>
	
	<select id="retrieveList" resultType="com.aiinterview.analysis.vo.VoiceAnalysisVO">
		SELECT *
		FROM VOICE_ANALYSIS
		WHERE ANS_SQ = #{ansSq}
	</select>
	
	<select id="retrieveGrowth" parameterType="String" resultType="com.aiinterview.analysis.vo.VoiceAnalysisVO">
		SELECT A.INTERVIEW_SQ,
		       ROUND(AVG(D.VOICE_DECIBEL)) AS VOICE_DECIBEL,
   			   ROUND(AVG(D.VOICE_RANGE))AS VOICE_RANGE
		  FROM VOICE_ANALYSIS D, ANSWER C, QUESTION B, (SELECT INTERVIEW_SQ 
		                             				      FROM INTERVIEW
		                             				     WHERE MEM_ID = #{memId}
                                                         AND ROWNUM <![CDATA[  <  ]]>6
                                                         ORDER BY INTERVIEW_SQ DESC
                                                         ) A
		 WHERE A.INTERVIEW_SQ IN B.INTERVIEW_SQ
		   AND B.QUEST_SQ IN C.QUEST_SQ
		   AND C.ANS_SQ IN D.ANS_SQ
		 GROUP BY A.INTERVIEW_SQ 
         ORDER BY A.INTERVIEW_SQ DESC
	</select>
	

</mapper>