<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.board.dao.BoardGubunMapper">

	<select id="retrieveList" parameterType="String" resultType="com.aiinterview.board.vo.BoardGubunVO">
		SELECT *
		FROM board_gb
	</select>


</mapper>