<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.analysis.dao.ImageAnalysisMapper">

	<insert id="create">
		INSERT INTO IMAGE_ANALYSIS (IMAGE_ANALYSIS_SQ,
									ANGER,
									CONTEMPT,
									FEAR,
									DISGUST,
									HAPPINESS,
									NEUTRAL,
									SADNESS,
									SURPRISED,
									FACE_TOP,
									FACE_LEFT,
									FACE_WIDTH,
									FACE_HEIGHT,
									ANS_SQ)
		     VALUES (IMAGE_ANALYSIS_SQ.NEXTVAL,
						TO_NUMBER(#{anger}),
						TO_NUMBER(#{contempt}),
						TO_NUMBER(#{fear}),
						TO_NUMBER(#{disgust}),
						TO_NUMBER(#{happiness}),
						TO_NUMBER(#{neutral}),
						TO_NUMBER(#{sadness}),
						TO_NUMBER(#{surprise}),
						TO_NUMBER(#{faceTop}),
						TO_NUMBER(#{faceLeft}),
						TO_NUMBER(#{faceWidth}),
						TO_NUMBER(#{faceHeight}),
						TO_NUMBER(#{ansSq})
						)
	</insert>
	
	<select id="retrieveList" resultType="com.aiinterview.analysis.vo.ImageAnalysisVO">
		SELECT *
		FROM IMAGE_ANALYSIS
		WHERE ANS_SQ = #{ansSq}
	</select>
	
	<select id="retrieveAnalysis" resultType="com.aiinterview.analysis.vo.ImageAnalysisVO">
		SELECT ROUND(SUM(ANGER)/COUNT(*),2) ANGER,
		       ROUND(SUM(CONTEMPT)/COUNT(*),2) CONTEMPT,
		       ROUND(SUM(FEAR)/COUNT(*),2) FEAR,
		       ROUND(SUM(DISGUST)/COUNT(*),2) DISGUST,
		       ROUND(SUM(HAPPINESS)/COUNT(*),2) HAPPINESS,
		       ROUND(SUM(NEUTRAL)/COUNT(*),2) NEUTRAL,
		       ROUND(SUM(SADNESS)/COUNT(*),2) SADNESS,
		       ROUND(SUM(SURPRISE)/COUNT(*),2) SURPRISE,
		       MIN(FACE_TOP) FACE_TOP,
		       MAX(FACE_LEFT) FACE_LEFT,
		       MAX(FACE_WIDTH) FACE_WIDTH,
		       MAX(FACE_HEIGHT) FACE_HEIGHT,
		       COUNT(*) totalCnt
		FROM IMAGE_ANALYSIS
		WHERE ANS_SQ = #{ansSq}
	</select>
	

</mapper>