<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.script.dao.ScriptTestMapper">
	
	<insert id="create">
		<selectKey keyProperty="scriptTestSq" resultType="String" order="BEFORE" keyColumn="scriptTestSq">
			SELECT script_test_sq.nextval FROM DUAL
		</selectKey>
			INSERT INTO script_test
			VALUES (TO_NUMBER(#{scriptTestSq}), #{scriptTestScore}, #{performScript}, sysdate, #{memId}, #{scriptSq}) 
	</insert>
	
	<select id="retrieveList" resultType="com.aiinterview.script.vo.ScriptTestVO">
		SELECT *
		FROM SCRIPT_TEST A, SCRIPT B, SCRIPT_GB C
		WHERE A.MEM_ID = #{memId}
		AND A.SCRIPT_SQ = B.SCRIPT_SQ 
		AND B.SCRIPT_GB_SQ = C.SCRIPT_GB_SQ
	</select>
	
	<select id="retrieveScore" parameterType="hashmap"  resultType="int">
		SELECT UTL_MATCH.EDIT_DISTANCE_SIMILARITY(#{scriptContent}, #{resultScript}) AS scriptTestScore
		  FROM DUAL
	</select>
</mapper>