<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.member.dao.MemberMapper">

	<select id="retrieve" parameterType="String" resultType="com.aiinterview.member.vo.MemberVO" >
		SELECT *
		FROM MEMBER
		WHERE MEM_ID = #{memId}
	</select>

	<select id="retrieveId" parameterType="com.aiinterview.member.vo.MemberVO"
		resultType="com.aiinterview.member.vo.MemberVO" >
		SELECT *
		FROM MEMBER
		WHERE MEM_NM = #{memNm}
		AND MEM_TEL = #{memTel}
	</select>

	<select id="retrievePw" parameterType="com.aiinterview.member.vo.MemberVO"
		resultType="com.aiinterview.member.vo.MemberVO">
		SELECT *
		FROM MEMBER
		WHERE MEM_ID = #{memId}
		AND MEM_NM = #{memNm}
		AND MEM_TEL = #{memTel}
	</select>
	
	<update id="updatePw" parameterType="com.aiinterview.member.vo.MemberVO">
		UPDATE MEMBER
		SET MEM_PW = #{memPw}
		WHERE MEM_ID = #{memId}
	</update>

	<select id="aliasCheck" parameterType="String" resultType="com.aiinterview.member.vo.MemberVO" >
		SELECT *
		FROM MEMBER
		WHERE MEM_ALIAS = #{memAlias}
	</select>
	
	<insert id="create" parameterType="com.aiinterview.member.vo.MemberVO">
		INSERT INTO MEMBER (MEM_ID, MEM_PW, MEM_AUTH, MEM_ST, MEM_ALIAS, MEM_NM, MEM_TEL, MEM_ADDR1, MEM_ADDR2, MEM_ZIPCODE, MEM_CAREER, MEM_EDUC, MEM_GENDER, MEM_TARGET_COMPANY, MEM_TARGET_JOB, SEARCH_JOB_DATE, MEM_MAJOR)
		VALUES (#{memId},#{memPw},#{memAuth},#{memSt},#{memAlias},#{memNm},#{memTel},#{memAddr1, jdbcType=VARCHAR},#{memAddr2, jdbcType=VARCHAR},NVL(#{memZipcode},0),#{memCareer, jdbcType=VARCHAR},#{memEduc, jdbcType=VARCHAR},#{memGender, jdbcType=VARCHAR},#{memTargetCompany, jdbcType=VARCHAR},#{memTargetJob, jdbcType=VARCHAR},#{searchJobDate, jdbcType=VARCHAR},#{memMajor, jdbcType=VARCHAR}) 
	</insert>
	
	<update id="delete" parameterType="com.aiinterview.member.vo.MemberVO">
		UPDATE MEMBER
		SET MEM_ST = 'N'
		WHERE MEM_ID = #{memId} 
	</update>
	
	<update id="update" parameterType="com.aiinterview.member.vo.MemberVO">
		UPDATE MEMBER
		SET MEM_PW 				= #{memPw},
			MEM_ALIAS 			= #{memAlias},
			MEM_ADDR1 			= #{memAddr1},
			MEM_ADDR2 			= #{memAddr2},
			MEM_ZIPCODE 		= #{memZipcode},
			MEM_CAREER 			= #{memCareer},
			MEM_EDUC 			= #{memEduc},
			MEM_TARGET_COMPANY	= #{memTargetCompany},
			MEM_TARGET_JOB 		= #{memTargetJob},
			MEM_GENDER 			= #{memGender},
			SEARCH_JOB_DATE 	= #{searchJobDate},
			MEM_MAJOR			= #{memMajor}
			<choose>
				<when test="memProfileNm !=null and memProfileNm != ''">
					,MEM_PROFILE_NM 		= #{memProfileNm}
				
				</when>
			</choose>
			<choose>
				<when test="memProfilePath !=null and memProfilePath != ''">
					,MEM_PROFILE_PATH 	= #{memProfilePath}
				</when>
			</choose>
			<choose>
	            <when test="memAuth != null and memAuth != ''">
				,MEM_AUTH			= #{memAuth}
				</when>
			</choose>
	  WHERE	MEM_ID				= #{memId} 
	</update>
	
	<select id="retrievePagingList" resultType="com.aiinterview.member.vo.MemberVO">
	    SELECT A.*
	      FROM (
	      	SELECT ROWNUM RNUM,
	           	   S.*
		      FROM (
		      	SELECT	* 
					FROM MEMBER
					WHERE 1=1
					<if test="searchKeyword != null and searchKeyword != ''">
				        <choose>
				            <when test="searchCondition == 0">
								AND	MEM_ID LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 1">
								AND	MEM_ALIAS LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 2">
								AND	MEM_GENDER LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 3">
								AND	MEM_EDUC LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 4">
								AND	MEM_MAJOR LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 5">
								AND	SEARCH_JOB_DATE LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 6">
								AND	MEM_CAREER LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 7">
								AND	MEM_ST LIKE '%' || #{searchKeyword} || '%'
							</when>
						</choose>
					</if>
		      ) S
		      WHERE ROWNUM <![CDATA[ <= ]]> ${lastIndex} 
	      ) A
	     <![CDATA[WHERE A.RNUM > #{firstIndex}]]>
	</select>
	
	<select id="retrievePagingListCnt" resultType="int">	    
      	SELECT count(*) totCnt
			FROM MEMBER
			WHERE 1=1
		<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 0">
						AND	MEM_ID LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 1">
						AND	MEM_ALIAS LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 2">
						AND	MEM_GENDER LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 3">
						AND	MEM_EDUC LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 4">
						AND	MEM_MAJOR LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 5">
						AND	SEARCH_JOB_DATE LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 6">
						AND	MEM_CAREER LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 7">
						AND	MEM_ST LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>		
	</select>
	
	<select id="manageMember" resultType="com.aiinterview.member.vo.MemberVO">
		SELECT *
		FROM MEMBER
	</select>
	
	<select id="retrieveMajor" parameterType="com.aiinterview.member.vo.MemberVO" resultType="com.aiinterview.member.vo.MemberVO">
		SELECT COUNT(*) count,
        		MEM_MAJOR
		FROM MEMBER
		WHERE 1=1
			<choose>
				<when test="searchKeyword != null and searchKeyword != ''">
					AND MEM_MAJOR LIKE '%' || #{searchKeyword} || '%'
				</when>
			</choose>
		GROUP BY MEM_MAJOR
	</select>
	
	<select id="retrieveEducation" parameterType="com.aiinterview.member.vo.MemberVO" resultType="com.aiinterview.member.vo.MemberVO">
		SELECT COUNT(*) count,
        		MEM_EDUC
		FROM MEMBER
		WHERE 1=1
			<choose>
				<when test="searchKeyword != null and searchKeyword != ''">
				AND MEM_EDUC LIKE '%' || #{searchKeyword} || '%'
				</when>
			</choose>
		GROUP BY MEM_EDUC
	</select>
	
	<select id="retrieveSearchJobDate" parameterType="com.aiinterview.member.vo.MemberVO" resultType="com.aiinterview.member.vo.MemberVO">
		SELECT COUNT(*) count,
        		SEARCH_JOB_DATE
		FROM MEMBER
		WHERE 1=1
			<choose>
				<when test="searchKeyword != null and searchKeyword != ''">
				AND SEARCH_JOB_DATE LIKE '%' || #{searchKeyword} || '%'
				</when>
			</choose>
		GROUP BY SEARCH_JOB_DATE
	</select>
	
	<select id="retrieveCareer" parameterType="com.aiinterview.member.vo.MemberVO" resultType="com.aiinterview.member.vo.MemberVO">
		SELECT COUNT(*) count,
        		MEM_CAREER
		FROM MEMBER
		WHERE 1=1
			<choose>
				<when test="searchKeyword != null and searchKeyword != ''">
				AND MEM_CAREER LIKE '%' || #{searchKeyword} || '%'
				</when>
			</choose>
		GROUP BY MEM_CAREER
	</select>
	
	<select id="retrieveGender" parameterType="com.aiinterview.member.vo.MemberVO" resultType="com.aiinterview.member.vo.MemberVO">
		SELECT COUNT(*) count,
        		MEM_GENDER
		FROM MEMBER
		WHERE 1=1
			<choose>
				<when test="searchKeyword != null and searchKeyword != ''">
				AND MEM_GENDER LIKE '%' || #{searchKeyword} || '%'
				</when>
			</choose>
		GROUP BY MEM_GENDER
	</select>

</mapper>