<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.member.dao.MemberMapper">

	<select id="getMember" parameterType="String" resultType="com.aiinterview.member.vo.MemberVO" >
		SELECT *
		FROM MEMBER
		WHERE MEM_ID = #{memId}
	</select>

	<select id="memberIdSearch" parameterType="com.aiinterview.member.vo.MemberVO"
		resultType="com.aiinterview.member.vo.MemberVO" >
		SELECT *
		FROM MEMBER
		WHERE MEM_NM = #{memNm}
		AND MEM_TEL = #{memTel}
	</select>

	<select id="memberPwSearch" parameterType="com.aiinterview.member.vo.MemberVO"
		resultType="com.aiinterview.member.vo.MemberVO">
		SELECT *
		FROM MEMBER
		WHERE MEM_ID = #{memId}
		AND MEM_NM = #{memNm}
		AND MEM_TEL = #{memTel}
	</select>
	
	<update id="memberPwChange" parameterType="com.aiinterview.member.vo.MemberVO">
		UPDATE MEMBER
		SET MEM_PW = #{memPw}
		WHERE MEM_ID = #{memId}
	</update>

	<select id="aliasCheck" parameterType="String" resultType="com.aiinterview.member.vo.MemberVO" >
		SELECT *
		FROM MEMBER
		WHERE MEM_ALIAS = #{memAlias}
	</select>
	
	<insert id="create" parameterType="com.aiinterview.member.vo.MemberVO">
		INSERT INTO MEMBER (MEM_ID, MEM_PW, MEM_AUTH, MEM_ST, MEM_ALIAS, MEM_NM, MEM_TEL, MEM_ADDR1, MEM_ADDR2, MEM_ZIPCODE, MEM_CAREER, MEM_EDUC, MEM_GENDER, MEM_TARGET_COMPANY, MEM_TARGET_JOB, SEARCH_JOB_DATE, MEM_MAJOR)
		VALUES (#{memId},#{memPw},#{memAuth},#{memSt},#{memAlias},#{memNm},#{memTel},#{memAddr1, jdbcType=VARCHAR},#{memAddr2, jdbcType=VARCHAR},NVL(#{memZipcode},0),#{memCareer, jdbcType=VARCHAR},#{memEduc, jdbcType=VARCHAR},#{memGender, jdbcType=VARCHAR},#{memTargetCompany, jdbcType=VARCHAR},#{memTargetJob, jdbcType=VARCHAR},#{searchJobDate, jdbcType=VARCHAR},#{memMajor, jdbcType=VARCHAR}) 
	</insert>
	
	<update id="delete" parameterType="com.aiinterview.member.vo.MemberVO">
		UPDATE MEMBER
		SET MEM_ST = 'N'
		WHERE MEM_ID = #{memId} 
	</update>

</mapper>