<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.aiinterview.plan.dao.PlanMapper">

	<select id="planList" resultType="com.aiinterview.plan.vo.PlanVO" >
		SELECT *
		FROM plan
		where plan_st = 'Y'
	</select>
	
	<select id="planContent" resultType="com.aiinterview.plan.vo.PlanVO" parameterType="com.aiinterview.plan.vo.PlanVO" >
		SELECT *
		FROM plan
		where plan_sq = #{planSq}
	</select>
	
	<insert id="planUseCreate" parameterType="com.aiinterview.plan.vo.PlanUseVO" >
		Insert into PLAN_USE 
		(USE_SQ, START_DATE, END_DATE, MEM_ID, PLAN_SQ)
		values(plan_use_sq.nextval, sysdate, sysdate+#{planPeriod}, #{memId}, 2)
	</insert>

	<select id="planUseCheck" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="int" >
		SELECT count(*)
		FROM PLAN_USE
		<![CDATA[
		where MEM_ID = #{memId}
		and end_date-sysdate>0
		]]>
			
	</select>

	<select id="planUseMinute" parameterType="com.aiinterview.plan.vo.PlanUseVO" resultType="int" >
		SELECT (ROUND((#{endDate}-sysdate)*24*60)) 
		FROM plan_use
	</select>









</mapper>