<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.interview.dao.TalentMapper">

	<select id="retrieveList" resultType="com.aiinterview.interview.vo.TalentVO">
		SELECT *
		FROM talent
	</select>
	
	<select id="retrieve" parameterType="String"  resultType="com.aiinterview.interview.vo.TalentVO">
		SELECT *
		  FROM talent
		 WHERE talent_sq = #{talentSq}
	</select>
	
	<insert id="create" >
		<selectKey keyProperty="talentSq" resultType="String" order="BEFORE">
			SELECT talent_sq.nextval FROM dual 
		</selectKey>
			INSERT INTO talent (talent_sq, talent_nm, talent_st)
			VALUES (TO_NUMBER(#{talentSq}), #{talentNm}, #{talentSt}) 
	</insert>

	<update id="update">
		UPDATE talent 
		   SET talent_nm = #{talentNm},
		 	   talent_st = #{talentSt}
		 WHERE talent_sq = #{talentSq} 
	</update>

	<!-- 페이징 : 해당 페이지리스트 select -->
	<select id="retrievePagingList" resultType="com.aiinterview.interview.vo.TalentVO">
		SELECT A.*
		  FROM (
		  	SELECT ROWNUM RNUM, 
		  		   S.*
		      FROM (
		      	SELECT talent_sq, 
		      		   talent_nm, 
		      		   talent_st
		          FROM talent
		         WHERE 1=1
		          <if test="searchKeyword != null and searchKeyword != ''">
				   AND talent_nm LIKE '%' || #{searchKeyword} || '%'
				  </if>
		         ORDER BY talent_sq 
		   	) S
		    WHERE ROWNUM <![CDATA[ <= ]]> ${lastIndex}
	   ) A 
	<![CDATA[WHERE A.RNUM > #{firstIndex}]]>
	</select>
	
	<select id="retrievePagingListCnt" resultType="int">
		SELECT count(*) totCnt
		  FROM talent
		 WHERE 1=1
		  <if test="searchKeyword != null and searchKeyword !=''">
		   AND talent_nm LIKE '%'||#{searchKeyword}||'%'	
		  </if>
	</select>
	<!-- //페이징 -->
	
	<!-- 사용중인 목록 조회 -->
	<select id="retrieveUsingList" resultType="com.aiinterview.interview.vo.TalentVO">
		SELECT *
		  FROM talent
		 WHERE talent_st = 'Y'
	</select>
	
	<select id="retrieveTalentCountList" parameterType="hashmap" resultType="com.aiinterview.analysis.vo.TalentAnalysisVO">
			SELECT ROWNUM rn,
			       f.*
              FROM (SELECT e.talent_nm, count(*) as talentCount
					  FROM talent e, keyword_analysis d ,answer c,question b, 
						  (SELECT interview_sq , interview_date
							 FROM interview
							 WHERE 1=1
							 <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
								<choose>
		          					<when test="endDate == 'sysdate'">
           					  AND interview_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND ${'sysdate'}
             						</when>
             						<when test="endDate != 'sysdate'">
             				  AND interview_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')
             						</when>
             					</choose>
          					</if>
							) a
					 WHERE a.interview_sq = b.interview_sq
			     	   AND b.quest_sq = c.quest_sq
					   AND c.ans_sq = d.ans_sq
					   AND d.talent_sq = e.talent_sq
					 GROUP BY d.talent_sq, e.talent_nm
					 ORDER BY d.talent_sq) f
	</select>
	
	<!-- 페이징 : 통계리스트 select -->
	<select id="retrieveStatisticsList" parameterType="hashmap" resultType="com.aiinterview.analysis.vo.TalentAnalysisVO">
		SELECT ROWNUM rn,
				       f.*
	              FROM (SELECT e.talent_nm, count(*) as talentCount
						  FROM talent e, keyword_analysis d ,answer c,question b, 
							  (SELECT interview_sq , interview_date
								 FROM interview
								 WHERE 1=1
								 <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
									<choose>
			          					<when test="endDate == 'sysdate'">
	           					  AND interview_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND ${'sysdate'}
	             						</when>
	             						<when test="endDate != 'sysdate'">
	             				  AND interview_date BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')
	             						</when>
	             					</choose>
	          					</if>
								) a
						 WHERE a.interview_sq = b.interview_sq
				     	   AND b.quest_sq = c.quest_sq
						   AND c.ans_sq = d.ans_sq
						   AND d.talent_sq = e.talent_sq
						    <if test="searchKeyword != null and searchKeyword != ''">
					   	   AND e.talent_nm LIKE '%' || #{searchKeyword} || '%'
					  		</if>
						 GROUP BY d.talent_sq, e.talent_nm
						 ORDER BY d.talent_sq) f
	</select>
	
</mapper>