<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.analysis.dao.HabitAnalysisMapper">

	<insert id="create">
		INSERT INTO HABIT_ANALYSIS (HABIT_SQ,
									ANS_SQ,
									HABIT_COUNT)
		     VALUES (#{habitSq},
						#{ansSq},
						#{habitCount})
	</insert>
	
	<select id="retrieveList" resultType="com.aiinterview.analysis.vo.HabitAnalysisVO">
		SELECT *
		FROM HABIT_ANALYSIS
		WHERE ANS_SQ = #{ansSq}
		  AND habit_count > 0
	</select>
	
	<select id="retrieveGrowth" parameterType="String" resultType="com.aiinterview.analysis.vo.HabitAnalysisVO">
		SELECT a.interview_sq, NVL(SUM(d.habit_count),0) AS habit_count
		  FROM habit_analysis d, answer c, question b, (SELECT interview_sq 
		                             				      FROM interview
		                             				     WHERE mem_id = #{memId}
		                             				       AND ROWNUM <![CDATA[  <  ]]>6) a
		 WHERE b.interview_sq IN a.interview_sq
		   AND c.quest_sq IN b.quest_sq
		   AND d.ans_sq (+) IN c.ans_sq
		  
		 GROUP BY a.interview_sq
		 ORDER BY a.interview_sq DESC
	</select>
	
	<select id="retrieveCount" parameterType="String" resultType="com.aiinterview.analysis.vo.HabitAnalysisVO">
		SELECT e.habit_gb ,SUM(d.habit_count) AS habit_count
		  FROM habit e,habit_analysis d, answer c, question b, (SELECT interview_sq 
		                             				      FROM interview
		                             				     WHERE mem_id = #{memId}
                                                           AND ROWNUM <![CDATA[ < ]]> 6) a
		 WHERE b.interview_sq IN a.interview_sq
		   AND c.quest_sq IN b.quest_sq
		   AND d.ans_sq IN c.ans_sq
           AND d.habit_sq IN e.habit_sq
		 GROUP BY e.habit_gb
		 ORDER BY habit_count  DESC
	</select>
	
	
	<select id="retrieveHabitUseCountList" parameterType="hashmap" resultType="com.aiinterview.analysis.vo.HabitAnalysisVO">
		SELECT ROWNUM rn, g.habit_gb, g.useCount
		  FROM
		     (SELECT f.habit_sq, f.habit_gb, NVL(sum(e.useCount) ,0) AS useCount
		        FROM habit f,
		            (SELECT d.habit_sq, NVL(SUM(d.habit_count),0) AS useCount, a.interview_date
		               FROM interview a, question b, answer c, habit_analysis d
		              WHERE a.interview_sq = b.interview_sq
		                AND b.quest_sq = c.quest_sq
		                AND c.ans_sq = d.ans_sq
		              GROUP BY d.habit_sq, a.interview_date
		              ORDER BY  a.interview_date) e
		       WHERE e.habit_sq (+) = f.habit_sq
		         AND f.habit_st = 'Y'
			    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
					<choose>
						<when test="endDate == 'sysdate'">
		        AND e.interview_date(+) BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD') AND ${'sysdate'}
		        		</when>
		        		<when test="endDate != 'sysdate'">
		        AND e.interview_date(+) BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD') AND TO_DATE(#{endDate},'YYYY-MM-DD')
		        		</when>
		        	</choose>
		        </if>
         GROUP BY f.habit_sq, f.habit_gb
         ORDER BY f.habit_sq)g
	</select>
</mapper>