<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiinterview.board.dao.BoardMapper">

	<insert id="create">
		<selectKey keyProperty="boardSq" resultType="String" order="BEFORE">
			SELECT BOARD_SQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD (BOARD_SQ,
							BOARD_GB_SQ,
							BOARD_TITLE,
							BOARD_CONTENT,
							BOARD_DATE,
							BOARD_ST,
							GROUP_NO,
							PARENT_SQ,
							MEM_ID,
							CAT_CONTENT)
		     VALUES (#{boardSq},
						#{boardGbSq},
						#{boardTitle},
						#{boardContent},
						SYSDATE,
						#{boardSt},
						<choose>
				            <when test="groupNo != null and groupNo != '0'">
							#{groupNo},						
							</when>
				            <when test="groupNo == null and groupNo == '0'">
							#{boardSq},
							</when>
						</choose>
						#{parentSq},
						#{memId},
						#{catContent})
	</insert>
	
	<update id="update">
		UPDATE BOARD
		SET    BOARD_TITLE     = #{boardTitle},
		       BOARD_CONTENT   = #{boardContent},
		       BOARD_ST        = #{boardSt},
		       CAT_CONTENT	   = #{catContent}
		WHERE  BOARD_SQ        = #{boardSq}
	</update>
	
	<update id="delete">
		UPDATE BOARD
		SET    BOARD_ST        = 'N'
		WHERE  BOARD_SQ        = #{boardSq}
	</update>
	
	<select id="retrieve" resultType="com.aiinterview.board.vo.BoardVO">
		SELECT NVL(BOARD_SQ, 0) BOARD_SQ,
				NVL(BOARD_GB_SQ, 0) BOARD_GB_SQ,
				BOARD_TITLE,
				BOARD_CONTENT,
				TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') BOARD_DATE,
				BOARD_ST,
				NVL(GROUP_NO, 0) GROUP_NO,
				NVL(PARENT_SQ, 0) PARENT_SQ,
				MEM_ID,
				CAT_CONTENT
		FROM BOARD
	   WHERE BOARD_SQ = #{boardSq}
	</select>
	
	<select id="retrievePagingList" resultType="com.aiinterview.board.vo.BoardVO">
	    SELECT A.*
	      FROM (
	      	SELECT ROWNUM RNUM,
	           	   S.*
		      FROM (
		      	SELECT NVL(BOARD_SQ, 0) BOARD_SQ,
						NVL(BOARD_GB_SQ, 0) BOARD_GB_SQ,
						LEVEL,
						LPAD(' ',(LEVEL-1)*4 )|| BOARD_TITLE BOARD_TITLE,
						BOARD_CONTENT,
						TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') BOARD_DATE,
						BOARD_ST,
						NVL(GROUP_NO, 0) GROUP_NO,
						NVL(PARENT_SQ, 0) PARENT_SQ,
						MEM_ID,
						CAT_CONTENT
					FROM BOARD
					WHERE BOARD_GB_SQ = #{boardGbSq}
					<if test="searchKeyword != null and searchKeyword != ''">
				        <choose>
				            <when test="searchCondition == 0">
								AND	BOARD_TITLE LIKE '%' || #{searchKeyword} || '%'
							</when>
				            <when test="searchCondition == 1">
								AND	BOARD_CONTENT LIKE '%' || #{searchKeyword} || '%'
							</when>
						</choose>
					</if>
		            START WITH PARENT_SQ = 0
		            CONNECT BY PRIOR BOARD_SQ = PARENT_SQ
		            ORDER SIBLINGS BY GROUP_NO DESC, BOARD_SQ ASC
		      ) S
		      WHERE ROWNUM <![CDATA[ <= ]]> ${lastIndex} 
	      ) A
	     <![CDATA[WHERE A.RNUM > #{firstIndex}]]>
	</select>
	
	<select id="retrievePagingListCnt" resultType="int">	    
      	SELECT count(*) totCnt
			FROM BOARD
			WHERE BOARD_GB_SQ = #{boardGbSq}
		<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 0">
						AND	BOARD_TITLE LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 1">
						AND	BOARD_CONTENT LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>		
	</select>
	
	<select id="retrieveList" resultType="com.aiinterview.board.vo.BoardVO">
		SELECT NVL(BOARD_SQ, 0) BOARD_SQ,
				NVL(BOARD_GB_SQ, 0) BOARD_GB_SQ,
				BOARD_TITLE,
				BOARD_CONTENT,
				TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') BOARD_DATE,
				BOARD_ST,
				NVL(GROUP_NO, 0) GROUP_NO,
				NVL(PARENT_SQ, 0) PARENT_SQ,
				MEM_ID,
				CAT_CONTENT
		FROM BOARD
		WHERE BOARD_GB_SQ = #{boardGbSq}
	</select>


</mapper>